@page "/PerfilSocio/{SocioId:long}"
@using Border = Syncfusion.Blazor.Grids.Border
@using ClubMan.Shared.Dto
@inject IMessageService MessageService
@inject NavigationManager NavigationManager
@inject INotificationService NotificationService
@inject IApiService ApiService;
@inject IJSRuntime jsRuntime

<DetailContent Title="@_title" IconName="IconName.Inbox" LoadDataAsync="DoLoadSocioAsync">
    <ToolbarItems>
            @if(_socio != null ) { //&&
                <Bar Mode="BarMode.Horizontal" Breakpoint="Breakpoint.Widescreen">
                    <VisitaSocio Socio="@_socio" Cxc="_cxc"/>
                    <BarMenu >
                        <BarEnd>
                            <BarDropdown RightAligned="true">
                                <BarDropdownToggle>
                                    <Icon Name="IconName.MoreVertical"></Icon>
                                </BarDropdownToggle>
                                <BarDropdownMenu>
                                    @* <BarItem> *@
                                    @*     <Button Clicked="ShowCxc">Estado de Cuenta</Button> *@
                                    @* </BarItem> *@
                                    <BarItem>
                                        <Button Clicked="ShowInvitados">Invitados Recientes</Button>
                                    </BarItem>
                                    <BarDropdownDivider/>
                                    <BarItem>
                                        <Button Clicked="ShowEditDialog">Editar Generales</Button>
                                    </BarItem>
                                    <BarItem>
                                        <Button Clicked="ShowMembresiaDialog">Cambiar Membresia</Button>
                                    </BarItem>
                                    @if (_socio.SolicitudId > 0)
                                    {
                                        <BarItem>
                                            <Button Clicked="DoShowSolicitud">Ver Solicitud</Button>
                                        </BarItem>
                                    }
                                </BarDropdownMenu>
                            </BarDropdown>
                        </BarEnd>
                    </BarMenu>
                </Bar>
                
            }
        </ToolbarItems>
    <ChildContent>
        @if (_socio != null)
        {
            <PerfilSocioEncabezado Socio="_socio" />
            <Tabs Margin="Margin.Is1.FromTop" @bind-SelectedTab="_selectedTab">
                <Items>
                    <Tab Name="socio">
                        <Icon Name="IconName.Info"/> Información del Socio
                    </Tab>
                    <Tab Name="dependientes">
                        <Icon Name="IconName.Baby"/> Dependientes
                        <Badge Color="Color.Primary" Pill>@_socio.Dependientes.Count</Badge>
                    </Tab>
                    <Tab Name="adicionales">
                        <Icon Name="IconName.HandsHelping"/> Adicionales
                        <Badge Color="Color.Primary" Pill>@_socio.Adicionales.Count</Badge>
                    </Tab>
                    <Tab Name="huespedes">
                        <Icon Name="IconName.UserFriends"/> Huespedes
                        <Badge Color="Color.Primary" Pill>@_socio.Huespededes.Count</Badge>
                    </Tab>
                    <Tab Name="embarcaciones">
                        <Icon Name="IconName.SwimmingPool"/> Embarcaciones
                        <Badge Color="Color.Primary" Pill>@_socio.Embarcaciones.Count</Badge>
                    </Tab>
                    <Tab Name="eventos">
                        <Icon Name="IconName.CalendarDay"></Icon> Eventos
                    </Tab>
                    <Tab Name="cxc">
                        <Icon Name="IconName.MoneyBillAlt"></Icon> CxC
                    </Tab>
                </Items>
                <Content>
                    <TabPanel Name="socio">
                        <PerfilSocioDatos Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="dependientes">
                        <PerfilSocioDependientes Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="adicionales">
                        <PerfilSocioAdicionales OnSocioChanged="(soc) => { _socio = soc; StateHasChanged(); }" Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="huespedes">
                        <PerfilSocioHuespedes OnSocioChanged="(soc) => { _socio = soc; StateHasChanged(); }" Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="embarcaciones">
                        <PerfilSocioEmbarcaciones Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="eventos">
                        <SocioEventos Socio="_socio"/>
                    </TabPanel>
                    <TabPanel Name="cxc">
                        <PerfilSocioCxc Socio="_socio" Cxc="_cxc"/>
                    </TabPanel>
                    
                    
                </Content>
            </Tabs>
        }
    </ChildContent>
</DetailContent>

<Modal @ref="_editDialog">
    <ModalContent Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@("Editando Generales de Socio")</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <PerfilSocioDatos Socio="_editRow" IsReadOnly="false"/>
        </ModalBody>
        <ModalFooter>
            <Button Float="Float.End" Color="Color.Primary" Loading="@_isBusy" Clicked="@DoSaveEdit">Guardar Cambios</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="_invitacionesDialog" ShowBackdrop="true" RenderMode="ModalRenderMode.LazyReload">
    <ModalContent Size="ModalSize.ExtraLarge" Centered="true">
        <ModalHeader>
            <ModalTitle>@("Invitados Recientes")</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <PerfilSocioInvitados Socio="_socio"></PerfilSocioInvitados>
        </ModalBody>
        
    </ModalContent>
    
</Modal>

<Modal @ref="_cxcDialog" ShowBackdrop="true" RenderMode="ModalRenderMode.LazyReload">
    <ModalContent Size="ModalSize.ExtraLarge" Centered="true">
        <ModalHeader>
            <ModalTitle>@("Estado de Cuenta")</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <PerfilSocioCxc Socio="_socio" Cxc="_cxc"></PerfilSocioCxc>
        </ModalBody>
        
    </ModalContent>
    
</Modal>

<Modal @ref="_membresiaDialog">
    <ModalContent Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@("Cambio Membresía de Socio")</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Fields Margin="Margin.Is2.FromTop">
                <Field ColumnSize="ColumnSize.Is8">
                    <FieldLabel >Nuevo Tipo Socio</FieldLabel>
                    <FieldBody>
                        <RadioGroup Disabled="false" TValue="TipoSocio" @bind-CheckedValue="nuevoTipoSocio" Inline="true">
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Fundadores)" ReadOnly="false" Value="@(TipoSocio.Fundadores)">Fundador</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Propietario)" ReadOnly="false" Value="@(TipoSocio.Propietario)">Propietario</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Numeral)" Value="@(TipoSocio.Numeral)">Numeral</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Corporativo)" Value="@(TipoSocio.Corporativo)">Corporativo</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Diplomatico)" Value="@(TipoSocio.Diplomatico)">Diplomático</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.NoResidente)" Value="@(TipoSocio.NoResidente)">No-Residente</Radio>
                            <Radio Disabled="@(_editRow.TipoSocio == TipoSocio.Especial)" Value="@(TipoSocio.Especial)">Especial</Radio>
                        </RadioGroup>
                    </FieldBody>
                </Field>
                <Field ColumnSize="ColumnSize.Is2">
                    <FieldLabel>Nuevo Carnet</FieldLabel>
                    <FieldBody><TextEdit ReadOnly="false" @bind-Value="nuevoCarnet"/></FieldBody>
                    <FieldHelp>Carnet Anterior: @_editRow.NumeroCarnet</FieldHelp>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Float="Float.End" Color="Color.Primary" Loading="@_isBusy" Clicked="@DoSaveMembresia">Guardar Cambios</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    bool _isBusy;
    Modal _editDialog;
    Modal _membresiaDialog;
    Modal _invitacionesDialog;
    Modal _cxcDialog;
    Socio _editRow = new();

    TipoSocio nuevoTipoSocio;
    String nuevoCarnet;
    
    string _selectedTab = "socio";
    string _title = "Perfil de Socio";
    
    [CascadingParameter] public AppState AppState { get; set; }

    [Parameter]
    public String SelectedTab
    {
        get { return _selectedTab; }
        set { _selectedTab = value; }
    }
    
    [Parameter] public long SocioId { get; set; }
    Socio _socio;

    List<FacturaDto> _cxc = new();
    
    private void ShowEditDialog()
    {
        _editRow = _socio with{};
        _editDialog.Show();
    }
    
    private void ShowMembresiaDialog()
    {
        _editRow = _socio with{};
        nuevoCarnet = string.Empty;
        nuevoTipoSocio = _editRow.TipoSocio;
        _membresiaDialog.Show();
    }
    
    private async Task DoSaveEdit()
    {
        if (_isBusy) return;
        try
        {
            _socio = await ApiService.UpdateSocioGenerales(AppState.ClubKey, _editRow);
            await _editDialog.Hide();
            await NotificationService.Success("Registro actualizado exitosamente");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            await NotificationService.Error("Ha ocurrudo un error en el proceso, favor reintentar");
        }
        finally
        {
            _isBusy = false;
            StateHasChanged();
        }
    }
    private async Task DoSaveMembresia()
    {
        if (_isBusy) return;
        try
        {
            if (nuevoTipoSocio == _editRow.TipoSocio)
            {
                await NotificationService.Warning("No cambió el tipo de membresía.");
                return;
            }
            if (String.IsNullOrEmpty(nuevoCarnet))
            {
                await NotificationService.Warning("Debe especificar un número nuevo de carnet.");
                return;
            }
            _socio = await ApiService.UpdateSocioMembresia(AppState.ClubKey, _editRow, nuevoTipoSocio, nuevoCarnet);
            await _membresiaDialog.Hide();
            await NotificationService.Success("Registro actualizado exitosamente");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            await NotificationService.Error("Ha ocurrudo un error en el proceso, favor reintentar");
        }
        finally
        {
            _isBusy = false;
            StateHasChanged();
        }
    }
    private async Task DoLoadSocioAsync()
    {
        if(SocioId > 0)
        {
            _cxc = await ApiService.GetEstadoDeCuenta(AppState.ClubKey, SocioId);
            _socio = await ApiService.GetSocio(AppState.ClubKey, SocioId);
            // _title = $"Perfíl de Socio - {_socio.NumeroCarnet} - {_socio.EstatusMembresia}";
            StateHasChanged();
        }
    }

    private void DoShowSolicitud()
    {
        NavigationManager.NavigateTo($"DetalleSolicitud/{_socio.SolicitudId}");
    }

    private void ShowInvitados()
    {
        _invitacionesDialog.Show();
    }
    private void ShowCxc()
    {
        _cxcDialog.Show();
    }
}
